.me {
    float: left;
    margin: 20px;
    box-shadow: 5px 10px 8px 5px #afadad;
}

.btn-primary {
    margin: 10px;
}

p {
    text-align: left;
    padding: 5px;
    margin-left: 20px;
}

#content {
    background-color: #e1ae1a;
}

p.lead mb-5 {
    margin-bottom: 0px;
}

.btn-xl {
    margin: 10px;
}

.caption-content {
    opacity: 20%;
    color: yellow;
}

.caption-content :hover{
    color: #fff;
}




@media only screen and (max-width: 640px) {
    .mb-0 {
        display: none;
    }

    .me {
        display: none;
    }
}