.me {
    float: left;
    margin: 10px;
    box-shadow: 5px 10px 8px 5px #afadad;
}

.btn-primary {
    margin: 10px;
}

@media only screen and (max-width: 640px) {
    .mb-0 {
        display: none;
    }
}