.me {
    float: left;
    margin: 20px;
    box-shadow: 5px 10px 8px 5px #afadad;
}

.btn-primary {
    margin: 10px;
}

p {
    text-align: left;
    padding: 5px;
    margin-left: 20px;
}

p.lead mb-5 {
    margin-bottom: 0px;
}

.btn-xl {
    margin: 10px;
}

.mb-0 {
    display: none;
}

p:hover .mb-0{
display: inline;
}

@media only screen and (max-width: 640px) {
    .mb-0 {
        display: none;
    }

    .me {
        display: none;
    }
}