.portfolio-item {
  display: block;
  opacity: 1;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  .caption {
    display: flex;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: fade-out($black, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    .caption-content {
      color: $white;
      background: #000;
      margin: 0;
      h2 {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
        font-size: 1rem;
      }
    }
  }

  #contact {
    background-color: #e1ae1a;
  }

  @media(min-width: 992px) {
    max-width: none;
    margin: 0;
    .caption {
      -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px);
      .caption-content {
        transition: opacity 0.25s;
        margin: 0;
      }
    }
    img {
      -webkit-transition: -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }
    &:hover {
      .caption {
        color: $white;
        opacity: 1;
      }
      img {
        -webkit-clip-path: inset(1rem);
        clip-path: inset(1rem);
      }
      .caption {
        background-color: fade-out($black, 0);
        -webkit-clip-path: inset(1rem);
        clip-path: inset(1rem);
      }
    }
  }
}
